@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: brown;
    line-height: 1.6;
}

ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;

}

p {
    margin: 10px 0px;
}

img{
    width: 100%;
}

/* Navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 184, 160);
    color: black;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
}
.navbar a {
    color: black;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: coral 2px solid;
}

.navbar ul {
    display: flex;

}

.navbar .logo {
    font-weight: 400;
}

/* Header */

.hero {
    background-image: url('../img/pexels-cottonbro-studio-3992874.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: rgb(214, 62, 113);
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20%;
}

.hero .content h1 {
    font-size: 55px;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.hero * {
    z-index: 10;
}

/*Icons*/

.icons {
    padding: 30px;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
}
.icons i {
    background-color: rgb(214, 62, 113);
    color: white;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}

/*Footer*/

.footer {
    background-color:rgb(250, 184, 160);
    display: flex;
    flex-direction: column;
}
.footer div {
    padding: 20px 20px;
    text-align: center;
    height: 10%0;
}
