/*Text colors*/

.text-primary{
    color: rgb(214, 62, 113);
}

.text-secondary {
    color: brown;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    background-color:rgb(250, 184, 160);
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color:rgb(250, 184, 160);
    
}

.btn-secondary {
    background-color: rgb(214, 62, 113);
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Flex items */
.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.flex-items > div {
    padding: 20px;
    
}


